@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap");

body {
  display: grid;
  place-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #98b4d4;
  color: #000000;
}

p.error {
  color: #f44336;
}
