<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->

<%# Edit Page Main %> 
<body>
    <div class="container">
    <h1>My TinyURL</h1>
    <%# Edit Url %> 
      <!-- include edit_form -->
        <%- include('include/_edit_form') %>
      <!-- /include edit_form -->
    <%# /Edit Url %>
</body>
<%# /Edit Page Main %>

</html>