<div class="col-lg-6">
  <form action="/api/urls" method="POST" class="my-4 form-inline" id="create">
    <div class="row">
      <label for="fullUrl">Enter a long URL to make a TinyURL</label>

      <div>
        <input
          required
          type="url"
          name="full"
          id="full"
          class="form-control col mb-2"
        />
      </div>
    </div>
    <div class="row">
      <label for="shortUrl">Customize your link</label>

      <div>
        <input
          placeholder="enter alias"
          type="text"
          name="short"
          id="short"
          class="form-control col mr-2"
        />

        <button class="btn btn-success mt-1" type="submit">Make TinyURL</button>
      </div>
    </div>
  </form>
</div>
