<div id="searchWrapper" class="col-lg-6">
  <input
    class="form-control me-sm-2"
    type="search"
    name="search"
    id="search"
    placeholder="  search.."
    oninput="searchHandler(this)"
  />
</div>
